.container-h {
    max-width: 100%;
    margin-top: 20px;
   }

.container-h .content-h {
    max-width: 1200px;
    margin: 0 auto;
   
}

.container-h .content-h .title {
    margin-bottom: 20px;
}

.container-h .content-h .info {
    width: 50%;
    font-size: 18px;
    line-height: 1.2;
}

.container-h .content-h .btn {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--purple);
}

.container-h .content-h a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}