.container {
    max-width: 100%;
    margin-top: 20px;
}

.container .content {
    max-width: 1200px;
    margin: 0 auto;
}

.container .content .title {
    margin-bottom: 20px;
}

.container .content .info {
    width: 50%;
    font-size: 18px;
    line-height: 1.2;
}

.container .content .btn {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--purple);
}

.container .content a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
}